<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags-->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Colrolib Templates">
    <meta name="author" content="Colrolib">
    <meta name="keywords" content="Colrolib Templates">

    <!-- Title Page-->
    <title>Search cheap flights at Soaru!</title>

    <!-- Icons font CSS-->
    <link href="/static/vendor/mdi-font/css/material-design-iconic-font.min.css" rel="stylesheet" media="all">
    <link href="/static/vendor/font-awesome-4.7/css/font-awesome.min.css" rel="stylesheet" media="all">
    <!-- Font special for pages-->
    <link href="https://fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i,900,900i" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

    <!-- Vendor CSS-->
    <link href="/static/vendor/select2/select2.min.css" rel="stylesheet" media="all">
    <link href="/static/vendor/datepicker/daterangepicker.css" rel="stylesheet" media="all">

    <!-- Main CSS-->
    <link href="/static/css/page1_main.css" rel="stylesheet" media="all">
</head>

<body>
    <!-- Jquery JS-->
    <script src="/static/vendor/jquery/jquery.min.js"></script>
    
    <!-- Main JS-->
    <script src="/static/js/global.js"></script>
    <script src="/static/vendor/bootstrap/js/main_bootstrap.min.js"></script>
  
    <!-- Vendor JS-->
    <script src="/static/vendor/select2/select2.min.js"></script>
    <script src="/static/vendor/datepicker/moment.min.js"></script>
    <script src="/static/vendor/datepicker/daterangepicker.js"></script>

    <div class="page-wrapper bg-img-1 p-t-165 p-b-100">
        <div class="wrapper wrapper--w680">
            <div class="card card-1">
                <div class="card-body">
                    <ul class="tab-list">
                        <li class="tab-list__item">
                            <a class="tab-list__link" data-toggle="tab" href="#search">search flight</a>
                        </li>
                        <li class="tab-list__item"> 
                            <a class="tab-list__link" data-toggle="tab" href="#profile">profile</a> 
                        </li>
                        <li class="tab-list__item">
                            <a class="tab-list__link" href="{{ url_for('main.displayBookings') }}">Bookings</a>
                        </li>
                        <li class="tab-list__item">
                                <a class="tab-list__link" href="{{ url_for('si_su.index') }}">Logout</a>
                        </li>
                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane" id="profile">
                            <form action="/credit" method="POST" action="#">


                                <div class="input-group">
                                    <h4>NOTE: The card with ID 1 will be your primary card</h4><br><br>
                                    <label class="label">Credit Card Number</label>
									<input class="input--style-1" type="text" name="cc_number" placeholder="{{ cc_number }}">
                                </div>
                                <div class="row row-space">
                                    <div class="col-2">
                                        <div class="input-group">
                                            <label class="label">Street</label>
											<input class="input--style-1" type="text" name="street" placeholder="{{ street }}" id="input-start">
                                        </div>
                                    </div>
                                    <div class="col-2">
                                        <div class="input-group">
                                            <label class="label">City</label>
											<input class="input--style-1" type="text" name="city" placeholder="{{ city }}" id="input-end">
                                        </div>
                                    </div>
                                </div>
                                <div class="row row-space">
                                    <div class="col-2">
                                        <div class="input-group">
                                            <label class="label">State</label>
											<input class="input--style-1" type="text" name="state" placeholder="{{ state }}" id="input-start">
                                        </div>
                                    </div>
                                    <div class="col-2">
                                        <div class="input-group">
                                            <label class="label">Country</label>
											<input class="input--style-1" type="text" name="country" placeholder="{{ country }}" id="input-end">
                                        </div>
                                    </div>
                                </div>

                                <div class="row row-space">
                                    <div class="col-2">
                                        <div class="input-group">
                                            <label class="label">Postal Code</label>
											<input class="input--style-1" type="text" name="postal" placeholder="{{ postal }}" id="input-start">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-2">
                                    <div class="input-group">
                                        <label class="label">credit card</label>
										<input class="input--style-1" type="number" name="credit-card" placeholder="{{ cc_id }}" id="input-end">
                                    </div>
                                </div>
                                <button class="btn-submit" type="submit">Submit Credit Card</button>
                            </form>
							<br>
							<br>
                            <form action="/addr" method="POST">


                                <div class="input-group">
                                    <label class="label">Street</label>
									<input class="input--style-1" type="text" name="addr_street" placeholder="{{ addr_street }}" >
                                </div>
                                <div class="row row-space">
                                    <div class="col-2">
                                        <div class="input-group">
                                            <label class="label">City</label>
											<input class="input--style-1" type="text" name="addr_city" placeholder="{{ addr_city }}" id="input-start">
                                        </div>
                                    </div>
                                    <div class="col-2">
                                        <div class="input-group">
                                            <label class="label">State</label>
											<input class="input--style-1" type="text" name="addr_state" placeholder="{{ addr_state }}" id="input-end">
                                        </div>
                                    </div>
                                </div>
                                <div class="row row-space">
                                    <div class="col-2">
                                        <div class="input-group">
                                            <label class="label">Country</label>
											<input class="input--style-1" type="text" name="addr_country" placeholder="{{ addr_country }}" id="input-start">
                                        </div>
                                    </div>
                                    <div class="col-2">
                                        <div class="input-group">
                                            <label class="label">Postal Code</label>
											<input class="input--style-1" type="number" name="addr_postal" placeholder="{{ addr_postal }}" id="input-end">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-2">
                                    <div class="input-group">
                                        <label class="label">Address</label>
										<input class="input--style-1" type="number" name="curr_addr" placeholder="{{ curr_addr }}" id="input-end">
                                    </div>
                                </div>
                                <button class="btn-submit" type="submit">Submit Address</button>
                            </form>
                                
                        </div>
                        <div class="tab-pane active" id="search">
                            <form method="POST" action="{{ url_for('main.displayResults') }}">
                                <div class="input-group">
                                    <label class="label">origin:</label>
                                    <input class="input--style-1" type="text" name="origin" placeholder="City or airport" required="required">
                                </div>
                                <div class="input-group">
                                    <label class="label">destination:</label>
                                    <input class="input--style-1" type="text" name="destination" placeholder="City or airport" required="required">
                                </div>
                                <div class="row row-space">
                                    <div class="col-2">
                                        <div class="input-group">
                                            <label class="label">Departure:</label>
                                            <input class="input--style-1" type="text" name="check-in" placeholder="mm/dd/yyyy" id="input-start-2">
                                        </div>
                                    </div>
                                    <div class="col-2">
                                        <div class="input-group">
                                            <label class="label">return (fill only if applicable):</label>
                                            <input class="input--style-1" type="text" name="check-out" placeholder="mm/dd/yyyy" id="input-end-2">
                                        </div>
                                    </div>
                                </div>
                                <div class="input-group">
                                    <label class="label">Maximum Connections:</label>
                                    <input class="input--style-1" type="text" name="maxConnections" placeholder="1" required="required">
                                </div>
                                <div class="p-t-5">
                                    <label class="checkbox-container m-r-45">First Class
                                        <input type="checkbox" name="first-class">
                                        <span class="checkmark"></span>
                                    </label>
                                    <label class="checkbox-container m-r-45">Business
                                        <input type="checkbox" name="business">
                                        <span class="checkmark"></span>
                                    </label>
                                    <label class="checkbox-container">Economy
                                        <input type="checkbox" checked="checked" name="economy">
                                        <span class="checkmark"></span>
                                    </label>
                                </div>
                                <button class="btn-submit" type="submit">search</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>
<!-- end document-->
